@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
   background-image: url(../images/bg-repeat.jpg);
   background-repeat: repeat;
   background-size: contain;
}

html{
   font-family: 'Roboto', sans-serif;
}

main{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.info{
   padding-right: 60px;
}

.info h1 {
   color: #fff;
   font-weight: 900;
}

.info p{
   color: #fff;
   width: 300px;
   height: 54px;
   line-height: 17.58px;
   font-size: 15px;
   padding-top: 11px;
   font-weight: 400;
}

.form {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   width: 340px;
   height: 378px;
}

.inputs input{
   width: 300px;
   height: 35px;
   margin: 15px;
   border: solid 1px;
   border-radius: 5px;
}

