@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

body {
   background-image: url(../images/bg-repeat.jpg);
   background-repeat: repeat;
   background-size: contain;
}

html {
   font-family: 'Roboto', sans-serif;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.info {
   padding-right: 60px;
}

.info h1 {
   color: #fff;
   font-weight: 900;
}

.info p {
   color: #fff;
   width: 300px;
   height: 54px;
   line-height: 17.58px;
   font-size: 15px;
   padding-top: 11px;
   font-weight: 400;
}

.form {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   height: 470px;
   width: 340px;
}

.inputs input {
   width: 300px;
   height: 35px;
   margin: 15px;
   border: solid 1px;
   border-radius: 5px;  
   font-weight: 700;
}

.inputs input::placeholder {
   padding-left: 10px;
}

.inputs .last-input {
   width: 298px;
   height: 100px;
   padding-bottom: 70px;
}

.inputs input:not(.last-input) {
   height: 35px;
}

.form p {
   height: 18px;
   line-height: 18px;
   font-size: 15px;
   font-weight: 400;
   margin-top: -8px;
   padding-left: 5px;
}

.form button {
   width: 298px;
   height: 41px;
   border-radius: 5px;
   border: 5px;
   margin-left: 20px;
   margin-top: 20px;
   background: #3CCC87;
   color: #FFF;
}


.form button:hover{
   cursor:pointer
}

input.redborder {
    border: 1px solid #F52e2e;
}

input.greenborder {
    border: 1px solid #00c22b;
}

.form .error-message {
   font-family: 'Roboto', sans-serif;
   font-size: 8px;
   font-weight: 400;
   line-height: 9.38px;
   text-align: left;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;
   margin-left: 10px;
   color: #F52e2e;
}
